.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline;
}

.navigation ul li a {
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: lightgray;
    line-height: 1.8em;
}
